
* {
    margin: 0px;
    padding: 0px;
}
body{
background-image: url(beautiful-wood-background-with-text-space-free-vector.jpg);
background-position: center;
background-size: cover;
    width: 50%;
height: 95vh
}

.log{
    width: 200px;
    height: 200px;
    margin-left: 100px;
    position: absolute;

    
}
.mainhead{
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    background-color: rgb(80, 41, 4);
    margin-left: 470px;
    display: block;
    width: 600px;
    margin-top: 30px;
    
}

.logo{
    width: 200px;
    height: 200px;
    margin-left: 200px;
    display: flex;
    flex-wrap: wrap;
    
}
.imgcontainer1{
    display: flex;
    margin-top: 50px;
    padding: 20px;
    padding-top: 1px;
}
.img1{
    width: 340px;
    height: 300px;
    padding: 15px;
}
.text1{
    display: none;
}

.img1:hover{
    width: 400px;
    height: 340px;
}
.set1:hover .text1{
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    bottom: 10px;
    padding: 2px;
    background-color: aliceblue;
    text-align: center;
    align-items: center;
}
.img2{
    width: 340px;
    height: 300px;
    padding: 15px;
}
.text2{
    display: none;
}
.img2:hover{
    width: 400px;
    height: 340px;
}
.set2:hover .text2{
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    bottom: 10px;
    padding: 2px;
    background-color: aliceblue;
    text-align: center;
    align-items: center;
}
.img3{
    width: 340px;
    height: 300px;
    padding: 15px;
}
.text3{
    display: none;
}
.img3:hover{
    width: 400px;
    height: 340px;
}
.set3:hover .text3{
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    bottom: 10px;
    padding: 2px;
    background-color: aliceblue;
    text-align: center;
    align-items: center;
}
.img4{
    width: 340px;
    height: 300px;
    padding: 15px;
}
.text4{
    display: none;
}
.img4:hover{
    width: 400px;
    height: 340px;
}
.set4:hover .text4{
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    bottom: 10px;
    padding: 2px;
    background-color: aliceblue;
    text-align: center;
    align-items: center;
}
.imgcontainer2{
    display: flex;
    margin-top: 10px;
    padding: 20px;
    padding-top: 1px;
    margin-bottom: 50px;
}
.img5{
    width: 340px;
    height: 300px;
    padding: 15px;
}
.text5{
    display: none;
}

.img5:hover{
    width: 400px;
    height: 340px;
}
.set5:hover .text5{
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    bottom: 10px;
    padding: 2px;
    background-color: aliceblue;
    text-align: center;
    align-items: center;
}
.img6{
    width: 340px;
    height: 300px;
    padding: 15px;
}
.text6{
    display: none;
}
.img6:hover{
    width: 400px;
    height: 340px;
}
.set6:hover .text6{
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    bottom: 10px;
    padding: 2px;
    background-color: aliceblue;
    text-align: center;
    align-items: center;
}
.img7{
    width: 340px;
    height: 300px;
    padding: 15px;
}
.text7{
    display: none;
}
.img7:hover{
    width: 400px;
    height: 340px;
}
.set7:hover .text7{
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    bottom: 10px;
    padding: 2px;
    background-color: aliceblue;
    text-align: center;
    align-items: center;
}
.img8{
    width: 340px;
    height: 300px;
    padding: 15px;
}
.text8{
    display: none;
}
.img8:hover{
    width: 400px;
    height: 340px;
}
.set8:hover .text8{
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    bottom: 10px;
    padding: 2px;
    background-color: aliceblue;
    text-align: center;
    align-items: center;
}

.imgcontainer3{
    display: flex;
    margin-top: 10px;
    padding: 20px;
    padding-top: 1px;
    margin-bottom: 50px;
}
.img9{
    width: 340px;
    height: 300px;
    padding: 15px;
}
.text9{
    display: none;
}

.img9:hover{
    width: 400px;
    height: 340px;
}
.set9:hover .text9{
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    bottom: 10px;
    padding: 2px;
    background-color: aliceblue;
    text-align: center;
    align-items: center;
}
.img10{
    width: 340px;
    height: 300px;
    padding: 15px;
}
.text10{
    display: none;
}
.img10:hover{
    width: 400px;
    height: 340px;
}
.set10:hover .text10{
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    bottom: 10px;
    padding: 2px;
    background-color: aliceblue;
    text-align: center;
    align-items: center;
}
.img11{
    width: 340px;
    height: 300px;
    padding: 15px;
}
.text11{
    display: none;
}
.img11:hover{
    width: 400px;
    height: 340px;
}
.set11:hover .text11{
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    bottom: 10px;
    padding: 2px;
    background-color: aliceblue;
    text-align: center;
    align-items: center;
}
.cptext{
    background-color: aliceblue;
    text-align: center;
    align-items: center;
    align-items: baseline;
    width: 200%
}




